:root{
    background-color: rgb(255, 178, 178);
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.button{
  height: 5vw;
  align-content: flex-end;
  justify-content: center;
  position: relative;
}

h1,
h2,
h3,
h4{
    margin-bottom: 1rem;
}

h1{
    font-size: 5.4rem;
    color: #c0392b;
    margin-bottom: 5rem;
}

h1 > span{
    font-size: 2.4rem;
    font-weight: 500;    
}

h2{
    font-size: 4.2rem;
    margin-bottom: 4rem;
    font-weight: 700;
}

h3{
    font-size: 2.8rem;
    font-weight: 500;
}

.container{
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

* > .container{
    width: 100%;
}


.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-center{
    justify-content: center;
}

.justify-center{
    justify-content: center;
}

.text-center{
    text-align: center;
}

.hidden{
    display: none;
}

a.ripple{
  text-decoration: none;
  cursor: pointer;
  color: black;
}

/*.btn:hover{
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(85, 185, 215, 0.5);
    transform: translate(-0.1rem);
    transition: transform 150rem;
}

.btn[disabled]:hover{
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}*/

/*Gavi's Clock*/

@import url('https://fonts.googleapis.com/css?family=Heebo:300&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #000;
  --secondary-color: #fff;
}

html {
  transition: all 0.5s ease-in;
}

html.dark {
  --primary-color: #fff;
  --secondary-color: #333;
}

html.dark {
  background-color: #111;
  color: var(--primary-color);
}

/*body {
  font-family: 'Heebo', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}*/

.toggle {
  cursor: pointer;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 0;
  border-radius: 4px;
  padding: 8px 12px;
  top: 10px;
  position: fixed;
  right: 47%;
} 

.toggle:focus {
  outline: none;
 

}

.clock-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-start;
    align-items: center;
    justify-content: center;
  }
  
  .clock {
    position: relative;
    width: 200px;
    height: 200px;
    border: 1px black dotted;
    border-radius: 100px;
  }
  
  .needle {
    background-color: var(--primary-color);
    position: absolute;
    top: 50%;
    left: 50%;
    height: 65px;
    width: 3px;
    transform-origin: bottom center;
    transition: all 0.5s ease-in;
  }
  
  .needle.hour {
    transform: translate(-50%, -100%) rotate(0deg);
  }
  
  .needle.minute {
    transform: translate(-50%, -100%) rotate(0deg);
    height: 100px;
  }
  
  .needle.second {
    transform: translate(-50%, -100%) rotate(0deg);
    height: 100px;
    background-color: #e74c3c;
  }
  
  .center-point {
    background-color: #e74c3c;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
  
  .center-point::after {
    content: '';
    background-color: var(--primary-color);
    width: 5px;
    height: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
  
  .time {
    font-size: 60px;
  }
  
  .date {
    color: #aaa;
    font-size: 14px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
  }
  
  .date .circle {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 50%;
    height: 18px;
    width: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 18px;
    transition: all 0.5s ease-in;
    font-size: 12px;
  }

  /* Menachem's New Button code*/
#home button{
  background-color: #c0392b;
  color: #fff;
  border: 1px #c0392b solid;
  height: fit-content;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 20px 30px;
  overflow: hidden;
  margin: 5px 0;
  position: relative;
}

button:focus{
  outline: none;
}

button .circle{
  position: absolute;
  background-color: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: translate(-50%,-50%) scale(0);
  animation: scale 1S ease-out;
}

@keyframes scale{
  to{
    transform: translate(-50%,-50%) scale(3);
    opacity: 0;
  }
}